[Unit]
Description=Push %h/%I to origin
Requires=network.target
After=auto-pull@%i.service auto-commit@%i.service
Conflicts=auto-update@%i.service

[Service]
Type=oneshot
ExecStart=/run/current-system/sw/bin/git -C %h/%I push origin master
