[Unit]
Description=commit and push org files to git server
AllowIsolate=yes
Wants=auto-commit@%i.service auto-pull@%i.service auto-push@%i.service
Before=auto-commit@%i.service auto-pull@%i.service auto-push@%i.service

[Service]
ExecStart=/run/current-system/sw/bin/true

[Install]
WantedBy=multi-user.target
