[Unit]
Description=Commit files in %h/%I
Conflicts=auto-update@%i.service
Before=auto-push@%i.service auto-pull@%i.service

[Service]
Type=oneshot
ExecStart=/run/current-system/sw/bin/git -C %h/%I add *
ExecStartPost=/run/current-system/sw/bin/git -C %h/%I commit -m Update
